#leftBackground {
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #e3e1e1;
  max-height: 700px;
  height: 700px;
  padding: 10px;
}

#gifTitle {
  margin-left: 15px;
}

#likeButton {
  margin-top: 5px;
  margin-bottom: 5px;
}

#submitButton {
  margin-left: 15px;
}

#shownGifDiv {
  text-align: center;
}

#rotateLoaderDiv {
  margin-top: 250px;
  display: block;
  text-align: center;
}
