#leftBackground {
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #e3e1e1;
  max-height: 700px;
  height: 700px;
  padding: 10px;
}

#gifTitle {
  margin-left: 15px;
}

#likeButton {
  margin-top: 5px;
  margin-bottom: 5px;
}

#submitButton {
  margin-left: 15px;
}

#shownGifDiv {
  text-align: center;
}

#rotateLoaderDiv {
  margin-top: 250px;
  display: block;
  text-align: center;
}

button {
  color: black;
  font-weight: bold;
  background-color: transparent; 
  border: 2px solid black; 
  border-radius: 5px; 
  text-transform: uppercase; 
  box-shadow: 1px 2px;
}

button:hover {
  background-color: gray;
  color: black;
}

button:active {
  background-color: black;
  color: white;
  box-shadow: 0px 0px;
}