#rightBackground {
  border-style: solid;
  border-width: 2px;
  border-color: #e3e1e1;
  overflow-y: scroll;
  max-height: 600px;
  height: 600px;
  padding: 10px;
}

#calculateScoreDiv {
  margin-top: 15px;
  text-align:center;
}

#likedGifGrid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

#unlikeButton {
  z-index: 5;
  display: block;
  margin-left: 143px;
  margin-top: -104px;
  margin-bottom: 80px;
}

#gifListTitle {
  margin-bottom: -10px;
}